@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    background: #02343F;
}


.userbutton button{
    height: 40px;
    background-color: #F0EDCC;
    color: #02343F;
    border: none;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 40px 40px #F0EDCC inset, 0 0 0 0 #F0EDCC;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.userbutton button:hover {
    box-shadow: 0 0 10px 0 #F0EDCC inset, 0 0 10px 4px #F0EDCC;
}


.parent {
    display: flex;
}

.child1 {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.child2 {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.child3 {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.drag-area {
    border: 1px solid #F0EDCC;
    height: 400px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Jua', sans-serif;
    overflow: hidden;
}

.drag-area.active {
    border: 2px solid #F0EDCC;
}

.drag-area .icon {
    font-size: 100px;
    color: #F0EDCC;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #F0EDCC;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #F0EDCC;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 25px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #F0EDCC;
    color: #02343F;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area button:hover {
    box-shadow: 0 0 10px 0 #F0EDCC inset, 0 0 10px 4px #F0EDCC;
}

.drag-area img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}


/* .select-box{
    border: 1px solid #fff;
    border-radius: 20px;
    height: 400px;
} */


.button {
    width: 49%;
    height: 145px;
    cursor: pointer;
    border: 2px solid rgba(111, 111, 211, 0);
    border-radius: 20px;
    outline: none;
    transition: .3s;
    margin-top: 3px;
}

.button1 {
    background: url( "la_muse.jpg" ) no-repeat;
    background-size: cover;
}

.button2 {
    background: url( "starry_night.jpg" ) no-repeat;
    background-size: cover;
}

.button3 {
    background: url( "the_scream.jpg" ) no-repeat;
    background-size: cover;
}

.button4 {
    background: url( "udnie.jpg" ) no-repeat;
    background-size: cover;
}

.button5 {
    font-family: 'Jua', sans-serif;
    width: 49%;
    height: 50px;
    margin-top: 5px;
    background: #F0EDCC;
    border-radius: 10px;
    font-size: 18px;
}

.button6 {
    font-family: 'Jua', sans-serif;
    width: 49%;
    height: 50px;
    margin-top: 5px;
    background: #F0EDCC;
    border-radius: 10px;
    font-size: 18px;
}

.button:focus {
    border: 3px solid #F0EDCC;
    box-shadow: 0px 0px 0px 1px rgb(58, 58, 110);
    animation: anim-shadow .3s forward;
}

.button:hover {
    box-shadow: 0 0 10px 0 #F0EDCC inset, 0 0 10px 4px #F0EDCC;
}

@keyframes anim-shadow {
    100% {
        box-shadow: 0px 0px 50px 20px rgba(111, 111, 211, 0);
    }
}

.child2 header {
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #F0EDCC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.deep-image-box {
    border: 1px solid #F0EDCC;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    overflow:hidden;
    margin:0 auto;
}

.deep-image {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 20px;
}

.center-content {
    margin-top: 50px auto 0px auto;
    padding: 40px;
}