@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:'Jua', sans-serif
    /* font-family: 'Cinzel', serif; */
}

body {
    background: #02343F;
}

.userbutton button{
    height: 40px;
    background-color: #F0EDCC;
    color: #02343F;
    border: none;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 0 40px 40px #F0EDCC inset, 0 0 0 0 #F0EDCC;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.postview-box {
    background-color: #F0EDCC; 
    width: 80%;
    height: auto; 
    padding: 0px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: flex-start;
}

.image-box {
    background-color: aliceblue;
    width: 1000px;
    border-radius: 20px;
}

.image {
    width: 100%;
    height:auto;
    border-radius: 20px;
    margin:auto
}

.image-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.new_post_content {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
}

.post_buttons {
    display: flex;
    align-items: flex-end;
}

.comment-box {
    padding: 20px;
}

.create_comment {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.comments {
    height: auto;
}

/*
comment style="margin:auto; display:flex; flex-direction: row;"
addcomment style="background-color: #F0EDCC; border-color:#F0EDCC; color:#02343F;"

/* 좋아요 */
.addlike_css {
    background-color: red;
}

